/* New version for new Firefox 65 */

#navigator-toolbox {
    --headerbar-height: 48px;
    --navbar-height: var(--headerbar-height);
    --background: 
            linear-gradient(rgb(245, 245, 245), rgb(218, 218, 218));
    
    /*collapse tab bar*/
    margin-top: calc(var(--headerbar-height) *(-1));

    background: var(--background);

    padding-left: 1em;
    padding-right: 0.5em;
}

#tabbrowser-tabs {
    display: none;
}
  
#titlebar {
    height: var(--headerbar-height);
}
  
#nav-bar {
    height: var(--navbar-height);
    margin-right: 88px;
    background: transparent !important;
}

.titlebar-buttonbox {
    transform: translateY(var(--headerbar-height));
}

/* other fixes */
* {
  transition: 0.5s;
}
*:hover {
  transition: 0.1s;
}
  
#navigator-toolbox::after { display: none !important; }
  
#pageActionButton, #pageActionSeparator { display: none !important; }
  
toolbox textbox {
    border-radius: 4px !important;
}
  
.sidebar-splitter {
    border: 0 !important;
    -moz-appearance: unset !important;
    background-color: ThreeDShadow !important;
    opacity: 0.1;
}
.sidebar-splitter:hover {
    opacity: 0.5;
}

#sidebar-header {
    display: none;
}
